*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #fff;
}
section .container{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}
section .right,
section .left{
    width: 50%;
    color: #4a4a4a;
}
section .left{
    padding: 40px 0;
}
section .left a{
    font-size: 18px;
    color: #058ae9;
    text-decoration: none;
}
section .left a i{
    font-size: 14px;
}
section img{
    display: block;
    padding: 40px 0;
}
section .left h3{
    font-size: 32px;
    padding-bottom: 20px;
}
section .left p{
    font-size: 20px;
    width: 440px;
    padding-bottom: 50px;
}
section .left p span{
    color: #058ae9;
}
section .left input{
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 70px;
}
section .left .sumbit{
    width: 500px;
}
section .left .sumbit p{
    text-align: center;
    font-weight: 550;
    font-size: 18px;
    padding-bottom: 20px;
}
section .left .sumbit button{
    width: 80%;
    margin-left: 20px;
    height: 40px;
    background-color: #fff;
    color: #058ae9;
}
section .left .sumbit button i{
    margin-right: 10px;
}
section .right{
    padding: 240px 40px;
}
section .right h1{
    text-align: left;
    font-size: 80px;
}
section .right h2{
    text-align: left;
    font-size: 38px;
    padding-top: 20px;
    padding-bottom: 50px;
}
section .right span{
    color: #058ae9;
}
section .right h6{
    font-size: 18px;
}
section .right b{
    padding: 0 10px;
}
@media screen and (max-width:1250px) and (min-width:768px){
    section .container{
        width: 900px;
    }
}
@media screen and (max-width:1000px) and (min-width:820px){
    section .container{
        width: 800px;
    }
    section .left{
        padding-left: 20px;
    }
    section .left p{
        width: 380px;
    }
    section .left .sumbit{
        width: 450px;
        margin-left: -20px;
    }
    section .right h6{
        font-size: 16px;
    }
}
@media screen and (max-width:820px){
    section .container{
        width: 100%;
        flex-direction: column;
    }
    section .left, section .right{
        width: 100%;
    }
    section .left{
        padding: 40px 20px;
    }
    section .left a i{
        margin-right: 20px;
    }
    section .left .sumbit{
        width: 100%;
    }
    section .left form{
        display: flex;
        justify-content: space-between;
    }
    section .left .sumbit button{
        width: 100%;
        margin: 0;
    }
    section .right {
        padding: 120px 20px;
    }
    section .right h1{
        font-size: 50px;
    }
    section .right h2{
        font-size: 40px;
        width: 450px;
    }
}
